{
  "extends": [
    "../.eslintrc"
  ],

  "env": {
    "browser": true,
    "node": false,
    "jquery": true
  },

  "parserOptions": {
    "ecmaVersion": 6
  },

  "globals": {
    "SAILS_LOCALS": true,
    "io": true,
    "sails": false,
    "_": false,
    "async": false
  },

  "rules": {
    "no-undef": ["error"]
  }

}
